<style>
  .edit {
    padding-left: 30px;
  }
  .text-field, .text-area, .submit {
    padding-bottom: 10px;
  }
</style>
<div class="edit">
  <h2>Editiong Book</h2>
  <%= render 'books/update', book: @book %>
  <%= link_to "Show", book_path(@book) %> | <%= link_to "Back", books_path %>
</div>
